# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
mapbox://styles/voidszone/cksepfcytd7ay18qq1erh6ml8
pk.eyJ1Ijoidm9pZHN6b25lIiwiYSI6ImNrc2VwOWJkZzEyaHEzMG9kNGpwcGcxdHEifQ.PB__FWL-Cx7PaSh7lOQP2A
https://api.mapbox.com/styles/v1/voidszone/cksepfcytd7ay18qq1erh6ml8.html?fresh=true&title=view&access_token=pk.eyJ1Ijoidm9pZHN6b25lIiwiYSI6ImNrc2VwOWJkZzEyaHEzMG9kNGpwcGcxdHEifQ.PB__FWL-Cx7PaSh7lOQP2A